{% extends 'base.html.twig' %}

{% block title %}Exemplaire index{% endblock %}

{% block body %}
    <h1>Exemplaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Bibliothèque</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exemplaire in exemplaires %}
            <tr>
                <td>{{ exemplaire.bibliotheque.nom }}</td>
             </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
